
@font-face {
  font-family: 'Bitter';
  src: url('Bitter-Bold/Bitter-Bold.eot?') format('eot'),
       url('Bitter-Bold/Bitter-Bold.woff2') format('woff2'),
       url('Bitter-Bold/Bitter-Bold.woff') format('woff'),
       url('Bitter-Bold/Bitter-Bold.otf')  format('opentype'),
       url('Bitter-Bold/Bitter-Bold.ttf')  format('truetype'),
       url('Bitter-Bold/Bitter-Bold.svg#Bitter-Bold') format('svg');
  font-weight: bold;
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Bitter';
  src: url('Bitter-BoldItalic/Bitter-BoldItalic.eot?') format('eot'),
       url('Bitter-BoldItalic/Bitter-BoldItalic.woff2') format('woff2'),
       url('Bitter-BoldItalic/Bitter-BoldItalic.woff') format('woff'),
       url('Bitter-BoldItalic/Bitter-BoldItalic.otf')  format('opentype'),
       url('Bitter-BoldItalic/Bitter-BoldItalic.ttf')  format('truetype'),
       url('Bitter-BoldItalic/Bitter-BoldItalic.svg#Bitter-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Bitter';
  src: url('Bitter-Italic/Bitter-Italic.eot?') format('eot'),
       url('Bitter-Italic/Bitter-Italic.woff2') format('woff2'),
       url('Bitter-Italic/Bitter-Italic.woff') format('woff'),
       url('Bitter-Italic/Bitter-Italic.otf')  format('opentype'),
       url('Bitter-Italic/Bitter-Italic.ttf')  format('truetype'),
       url('Bitter-Italic/Bitter-Italic.svg#Bitter-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Bitter';
  src: url('Bitter-Regular/Bitter-Regular.eot?') format('eot'),
       url('Bitter-Regular/Bitter-Regular.woff2') format('woff2'),
       url('Bitter-Regular/Bitter-Regular.woff') format('woff'),
       url('Bitter-Regular/Bitter-Regular.otf')  format('opentype'),
       url('Bitter-Regular/Bitter-Regular.ttf')  format('truetype'),
       url('Bitter-Regular/Bitter-Regular.svg#Bitter-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
