
/* override h2 font-size to be closer to h1
   we use h2 all over the place!
h2 {
    font-size: 3.0rem;
    margin-top: 3rem;
}
*/

/* override the giant spacing in article */
article {
    padding: 1.2rem 0rem;
}

/* add some colour (and accessibility contrast) */
a:link,
a:visited {
    color: #BB11AA;
}

h1 > span#me {
    color: #BB11AA;
}

/* nav */

nav {
    margin-top: 2.0em;
    margin-bottom: 1.5em;
}


nav > ul li {
    display: inline;
    list-style-type: none;
}

/* posts listing */
ul#posts > li {
    list-style-type: none;
}

/* tags */
ul.tags > li{
    display: inline;
    list-style-type: none;
}

@media print{
    .download.marginnote, nav, nav > ul li {
        display: none;
    }

    body {
        padding-left: -3em;
    }
    .sidenote, .marginnote {
        margin-right: -70%;
        display: block;
    }
    label.margin-toggle:not(.sidenote-number) {
        display: none;
    }
    .margin-toggle:checked + .sidenote,
    .margin-toggle:checked + .marginnote {
        float: right;
        clear: right;
        margin-right: -60%;
        width: 50%;
        margin-top: 0.3rem;
        margin-bottom: 0;
        font-size: 1.1rem;
        line-height: 1.3;
        vertical-align: baseline;
        position: relative;
    }
    img {
        width: 50%;
        height: 50%;
        float: right;
    }
    p {
        width: 65%;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        break-after: avoid-page;
    }
}
